<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>hello yujin</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../css/main.css" />
    <noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">
    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="/" class="logo">
<!--                메인화면으로 돌아가-->
                <span class="symbol"><img src="../images/logo.svg" alt="" /></span><span class="title">home</span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="generic">Ipsum veroeros</a></li>
            <li><a href="generic.html">Tempus etiam</a></li>
            <li><a href="generic.html">Consequat dolor</a></li>
            <li><a href="elements.html">Elements</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <header>
                <h1>나의 취미 서랍장<br /></h1>
                <p>당신의 취미를 기록하세요</p>
            </header>
            <section class="tiles">
                <article class="style1">
									<span class="image">
										<img src="../images/pic01.jpg" alt="" />
									</span>
                    <a href="board/generic">
                        <h2><span th:text="${hobby}"></span></h2>
                    </a>
                </article>
                <article class="style2">
									<span class="image">
										<img src="../images/pic02.jpg" alt="" />
									</span>
                    <a href="generic2.html">
                        <h2>뜨개질</h2>

                    </a>
                </article>
                <article class="style3">
									<span class="image">
										<img src="../images/pic03.jpg" alt="" />
									</span>
                    <a href="generic3.html">
                        <h2>베이킹</h2>
                    </a>
                </article>
            </section>
        </div>
    </div>

</div>

</body>
</html>