<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Generic</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../css/main.css" />
    <noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <a href="index.html" class="logo">
                <span class="symbol"><img src="../images/logo.svg" alt="" /></span><span class="title">Phantom</span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="/">메인페이지</a></li>
            <li><a href="generic.html">챗봇과 대화하기</a></li>
            <li><a href="generic.html">나의 추천 취미 리스트(?)</a></li>
            <li><a href="generic">나의 취미 기록장</a></li>
            <li><a href="elements.html">알림</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <h1>게시판</h1>

            <form th:action="@{/board/generic/upload}" th:object="${newOne}" method="post" enctype="multipart/form-data">
                <label for="title">제목:</label>
                <input type="text" id="title" th:field="*{title}" required><br>
                <label for="content">내용:</label>
                <textarea id="content" th:field="*{content}" required></textarea><br>
                <h5>단일 파일 업로드</h5>
                <input type="file" name="file">
                <h5>다중 파일 업로드</h5>
                <input type="file" multiple="multiple" name="files">
                <input type="submit"/>
            </form>
            <!-- 게시물 삭제를 요청하는 버튼 -->
            <form action="/posts/{postId}" method="post" id="deleteForm">
                <input type="hidden" name="_method" value="delete">
                <button type="submit" onclick="return confirm('게시물을 삭제하시겠습니까?')">게시물 삭제</button>
            </form>
            <!-- 게시물 목록 -->
            <ul>
                <li th:each="post :${ones}">
                    <h2 th:text="${post.title}"></h2>
                    <p th:text="${post.content}"></p>
                    <div th:each="imageFile : ${files} ">
                        <img  th:src="|/board/generic/images/${imageFile.id}|" width="150" height="150">
                        <p th:text="${imageFile.orgNm}"></p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>
</body>
</html>